<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donation CupGames</title>
</head>
<body onload="document.forms['transaction'].submit()">
    <form name="transaction" method="POST" action="{{payment_url}}">
        <input type="hidden" name="merchant" value="{{merchant}}">
        <input type="hidden" name="description" value="Пополнение счета CupGames. Логин {{user.username}}">
        <input type="hidden" name="amount" value="{{amount}}">
        <input type="hidden" name="currency" value="RUB">
        <input type="hidden" name="order_id" value="{{user.id}}">
        <button type="submit">Нажмите сюда, если вас не переадресовало автоматически.</button>
    </form>
</body>
</html>